html,body,#container {
	height: 100%;
}

body {
	margin: 0;
}

.leaflet-overlay-pane canvas {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.leaflet-overlay-pane canvas[hide] {
	opacity: 0;
}

#stats {
	position: absolute;
	bottom: 0;
	left: 0;
}